body{
	/*background: -webkit-linear-gradient(left, #383838, #C0C0C0, #C0C0C0, #383838); /* For Safari 5.1 to 6.0 */*/
    /*background: -o-linear-gradient(left, #383838, #C0C0C0, #C0C0C0, #383838); /* For Opera 11.1 to 12.0 */*/
    /*background: -moz-linear-gradient(left, #383838, #C0C0C0, #C0C0C0, #383838); /* For Fx 3.6 to 15 */*/
    /*background: linear-gradient(to right, #383838, #C0C0C0, #C0C0C0, #383838); /* Standard syntax (must be last) */*/

    background: #a8a8a8; /* Old browsers */
	background: -moz-linear-gradient(top, #a8a8a8 0%, #2300b2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8a8a8), color-stop(100%,#2300b2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a8a8a8 0%,#2300b2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a8a8a8 0%,#2300b2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a8a8a8 0%,#2300b2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a8a8a8 0%,#2300b2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#2300b2',GradientType=0 ); /* IE6-9 */
copy
}

div {
	font-size: 125px;
	text-align: center;
}

.endGame{
	color: white;
}

img {
	width: 80%;
	height: 80%;
	margin: 0 auto;
	/*width: 175px;
	height: 175px;*/
}

a{
	color: white;
}