@using System.Data.SqlTypes
@model IEnumerable<scheduler.IMonth>

@{
    ViewBag.Title = "Schedule";
}

<h2>@DateTime.Now.Year</h2>

<br />
<br />
<br />

@foreach (var item in Model) {
    <div class="col-xs-12 col-sm-6 col-md-4">
        @Html.ActionLink(item.Name, "Details", new { name = item.Name })
    </div>
}
<br />
<br />
<br />
<br />
<br />
<br />