html { 

  height:100%;
}


body{

	color: black;

background: url(../images/mario.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height:100%;

}

div {
	font-size: 95px;
	text-align: center;
}

img {
	width: 80%;
	height: 80%;
	margin: 0 auto;	
}

a{
	color: white;
}
