@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    <p class="lead">Welcome to the Mercy CRNA team website.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div>
    <center>
        <img src="~/Content/Images/newMercyRendering.jpg" alt="new hospital drawing" style="width: 384px; height: 296px" align="middle" />
        <img src="~/Content/Images/oldStJohns.jpg" alt="new hospital drawing" style="width: 384px; height: 296px" align="middle" />
    </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work Schedule</h2>
        <p>
            View the Mercy CRNA team's work schedule, enter a vacation request, and view metrics about the team's work.
        </p>
        <p><a class="btn btn-default" href=@("Schedule/Details?id=" + (@DateTime.Now.Month+1))>Schedule &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>View notifications from the Mercy CRNA team.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Contact Info</h2>
        <p>Lookup contact info, vacation requests, work history, and other details for team members.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Team &raquo;</a></p>
    </div>
</div>