<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mercycrna.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mercycrna.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MercyCRNA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MercyCRNA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="scheduler.mvc.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dzvmbj8x0g.database.windows.net,1433;Initial Catalog=MercyCRNA_db;User ID=mercycrnadata@dzvmbj8x0g;Password=Orbit#567" Name="Data Source=tcp:dzvmbj8x0g.database.windows.net,1433;Initial Catalog=MercyCRNA_db;User Id=mercycrnadata@dzvmbj8x0g;Password=Orbit#567" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="scheduler.mvc.Models.ApplicationDbContext, scheduler.mvc" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:dzvmbj8x0g.database.windows.net,1433;Database=MercyCRNA_db;User ID=mercycrnadata@dzvmbj8x0g;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dzvmbj8x0g.database.windows.net,1433;Database=MercyCRNA_db;User ID=mercycrnadata@dzvmbj8x0g;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)scheduler.mvc.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dzvmbj8x0g.database.windows.net,1433;Initial Catalog=MercyCRNA_db;User Id=mercycrnadata@dzvmbj8x0g;Password=Orbit#567</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="scheduler.mvc.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>